<section class='mt-20'>
  <h2 class='text-xl font-semibold mb-4'>Hello!</h2>
  <div class='text-brand-white text-opacity-80 flex flex-col space-y-4'>
    <p>Hi, I'm THP. I'm a web developer based in Indonesia.</p>
    <p>
      I'm a fullstack developer building polished products and web experiences
      using modern tech stack. I'm also love to
      contribute to open source projects.
    </p>
    <p>Mostly, i'm using typescript for my recent project Node, React, Svelte, Vanilla.</p>
    <p>
      You can reach me via
      <a
        href='mailto:tarsisiushp@gmail.com'
        target='_self'
        class='text-brand-purple text-opacity-100 hover:text-opacity-80 transition duration-200 ease-in-out'>
        email
      </a>.
    </p>
  </div>
</section>
