---
const projects = [
  {
    description:
      'Anonymous chat like secreto, where you can get feedback from anonymous that already have your link.',
    link: 'https://confess.thp.my.id',
    github: 'https://github.com/tarsisius/confess',
  }
]
---

<section class='mt-20'>
  <h2 class='text-xl font-semibold mb-4'>Projects</h2>
  <p class='text-brand-white text-opacity-80'>Some of my OSS projects.</p>
  <ul class='text-brand-white text-opacity-80 flex flex-col space-y-10 mt-12'>
    {
      projects.map((project) => (
        <li class='flex flex-col space-y-4'>
          <a
            class='inline leading-5 underline font-medium text-brand-white text-opacity-100'
            href={project.link}
            target='_blank'
            rel='noopener noreferrer external'>
            {project.link.slice(8)}
          </a>
          <div class='text-gray-500 dark:text-gray-400 cursor-default'>
            {project.description}
          </div>
          <a
            class='inline leading-5 underline font-medium text-sm text-brand-white text-opacity-100'
            href={project.github}
            target='_self'
            rel='noopener noreferrer external'>
            github
          </a>
        </li>
      ))
    }
  </ul>
</section>
